@model Timetable.Models.NewTimetable
    @{
        ViewBag.Title = "Добавление в расписание";
    }
<form asp-action="CreateTimetable" asp-controller="Timetable">
    <div class="form-group">
        <label asp-for="Week" class="control-label">Неделя</label>
        <input type="text" asp-for="Week" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Time" class="control-label">Время</label>
        <input type="text" asp-for="Time" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Integrity" class="control-label">Целостность</label>
        <input type="text" asp-for="Integrity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Course" class="control-label">Курс</label>
        <input type="number" asp-for="Course" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NumberGroup" class="control-label">Группа</label>
        <input type="number" asp-for="NumberGroup" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FIOteacher" class="control-label">Преподаватель</label>
        <input type="text" asp-for="FIOteacher" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NameLesson" class="control-label">Пара</label>
        <input type="text" asp-for="NameLesson" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NumberClass" class="control-label">Аудитория</label>
        <input type="text" asp-for="NumberClass" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>