@model Timetable.Models.TimetableU
@{
    ViewBag.Title = "Изменение расписания";
}
<form asp-action="EditTimetable" asp-controller="Timetable" asp-route-Id_Date="@Model.Id_Date>
    <div class="form-group">
        <label asp-for="Id_Date" class="control-label">Дата</label>
        <input type="DateTime" asp-for="Id_Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Id_Lesson" class="control-label">Идентификатор предмета</label>
        <input type="Number" asp-for="Id_Lesson" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Id_Class" class="control-label">Идентификатор аудитоии</label>
        <input type="Number" asp-for="Id_Class" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Id_Teacher" class="control-label">Идентификатор преподавателя</label>
        <input type="Number" asp-for="Id_Teacher" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Id_User" class="control-label">Идентификатор пользователя</label>
        <input type="Number" asp-for="Id_User" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Id_Group" class="control-label">Идентификатор группы</label>
        <input type="Number" asp-for="Id_Group" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>