@model IEnumerable<Timetable.Models.TimetableU>
    @{
    ViewBag.Title = "Преподаватели";
    }

    <h2>Расписание @ViewBag.courseset курса @ViewBag.groupeset группы</h2>
    <form method="post">
    </form>
