@model Timetable.Models.LessonU
@{
    ViewBag.Title = "Добавление предмета";
}
<form asp-action="EditLesson" asp-controller="Lesson">
    <div class="form-group">
        <label asp-for="TypeLesson" class="control-label">Тип</label>
        <input type="text" asp-for="TypeLesson" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Cyclicality" class="control-label">Цикличность</label>
        <input type="text" asp-for="Cyclicality" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>