<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Timetable</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <strong class="navbar-brand" style="background:none">
                        <a href="/">
                            <div class="block"><img src="/images/logo.jpg" width="160" height="160" alt="пмм" /></div>
                            <div class="block"><pre> Факультет<br /> прикладной математики,<br /> механики и информатики</pre></div>
                        </a>
                </strong>
                <div class="block1">
                    <form asp-controller="Timetable" asp-action="Search">
                            <input type="text" name="SearchString" />
                            <input type="submit" value="Поиск" />
                    </form>
                    </div>
                </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Timetable</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="Timetable" asp-controller="Timetable">Расписание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="Teacher" asp-controller="Teacher">Преподаватели</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="Lesson" asp-controller="Lesson">Предметы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="Classroom" asp-controller="Classroom">Аудитории</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="Group" asp-controller="Group">Группы</a>
                        </li>
                        <li class="nav-item">
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-action="User" asp-controller="User">Пользователи</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="Logout" asp-controller="Account">Выйти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Timetable - By Alexey Mitin
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
