@{
    ViewBag.Title = "Расписание";
}

<td><a>Добро пожаловать: </a>@User.Identity.Name</td>
<div><a asp-action="Timetable" asp-controller="Timetable">Расписание</a></div>
<div><a asp-action="СhangeTimetable" asp-controller="Timetable">Изменить расписание</a></div>
<div><a asp-action="Teacher" asp-controller="Teacher">Преподаватели</a></div>
<div><a asp-action="Lesson" asp-controller="Lesson">Предметы</a></div>
<div><a asp-action="Classroom" asp-controller="Classroom">Аудитории</a></div>
<div><a asp-action="Group" asp-controller="Group">Группы</a></div>
<div><a asp-action="Logout" asp-controller="Account">Выйти</a></div>