@model IEnumerable<Timetable.Models.Teacher>
    @{
    ViewBag.Title = "Все пользователи";
    }

<form asp-action="Teacher" asp-controller="home">
    <div class="form-group">
        <a asp-action="Create">Добавить преподователя</a>
        <table class="table">
            <tr><td>ФИО</td>
            @foreach (var item in Model)
            {
            <tr><td>@item.FIO</td>
            <td>
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id_Teacher">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id_Teacher">Изменить</a> |
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id_Teacher">Удалить</a>
            </td>
            </tr>
            }
        </table>
    </div>
</form>
