@model Timetable.Models.Classroom
@{
    ViewBag.Title = "Добавление аудитории";
}
<form asp-action="EditClassroom" asp-controller="Classroom">
    <div class="form-group">
        <label asp-for="NumberClass" class="control-label">Номер аудитории</label>
        <input type="number" asp-for="NumberClass" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TypeClass" class="control-label">Тип аудитории</label>
        <select asp-for="TypeClass" asp-items="@ViewBag.TypeClasses" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Capacity" class="control-label">Вместимость</label>
        <input type="number" asp-for="Capacity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Projector" class="control-label">Проектор</label>
        <select asp-for="Projector" asp-items="@ViewBag.Equipments" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Board" class="control-label">Доска</label>
        <select asp-for="Board" asp-items="@ViewBag.Equipments" class="form-control"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>